name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate light snake
        uses: Platane/snk@v3
        with:
          github_user_name: jennifermhansson
          outputs: |
            snake.svg

      - name: Generate dark snake
        uses: Platane/snk@v3
        with:
          github_user_name: jennifermhansson
          outputs: |
            snake-dark.svg
          color_snake: "#39FF14"        # neon grön orm
          color_dots: "#1d1d1d"         # mörk bakgrund

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
